nav {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .scroll {
    background-color: rgba(0, 0, 0, 0.5);
    color: black !important;
} */

.scroll-up {
    transform: translateY(-120px);
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}


@media only screen and (max-width: 767px) {
    nav {
        height: 60px;
    }
}